// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.recipes {
  border-collapse: collapse;

  td.name {
    white-space: nowrap;
  }

  tbody {
    tr {
      border: 1px solid lightgrey;
    }
    td {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 8px;
      margin: 0;
    }

    .name {
      font-size: 200%;
    }

    .ingredients {
      font-size: smaller;
      padding-bottom: 8px;
    }

    .name b,
    .rating b,
    .ingredients b {
      display: none;
    }
  }


}



@media ( min-width: 40em ) {
  .recipes {
    td,
    th,
    tbody th,
    tbody td,
    thead td,
    thead th {
      display: table-cell;
      margin: 0;
    }
    td .ui-table-cell-label,
    th .ui-table-cell-label {
      display: none;
    }
    td.rating, th.rating {
      text-align: center;
      white-space: nowrap;
    }
  }
}